// /***************** общие стили */
body {

  background: $сolor-main;
  font-family: 'TT LakesR', Arial, sans-serif;
  font-size: $font-size--small;
  margin: 0;
  padding: 0;

}

.container {
  max-width: 320px;
  margin: 0 auto;
  left: 0;
  right: 0;
}

h1 {
  font-size: $font-size--h1;


  width: 100%;
}

a {
  text-decoration: none;
  white-space: nowrap;
  color: $text-color--gray;
  font-weight: 500;
}

p {
  color: $text-color--main;
  margin: 0px;


}

span {

  margin: 0px;

  line-height: 24px;
  font-weight: 500;
}

li {
  list-style-type: none;
}



/********* button*/
button {
  border: none;
  border: 0;
  font-family: 'TT LakesM';
  background-color: $сolor-main;
  padding: 0px;
  cursor: pointer;
  text-transform: uppercase;

  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  &--oval {

    font-size: 12px;
    color: $сolor-main;
    background-color: $color-button;
    height: 32px;
    width: 119px;
    font-family: 'TT LakesB';
    border-radius: 16px;

    transform: translate(85px, -30px);

    justify-content: space-around;


  }

  &--circle {

    background-color: $color-button;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: relative;


  }
}

.modal-window .button {
  &--oval {
    padding-left: 5px;
  }
}

button:hover,
button:focus {
  outline: none;
}

button:hover {
  filter: hue-rotate(110deg);
  outline: none;
}



.button-burger,
.button-burger::before,
.button-burger::after {
  position: absolute;
  height: 2px;
  background-color: #FFFFFF;
  width: 10px;
  display: block;
  border-radius: 1px;
  top: 50%;
  left: 30%;
  margin-top: -1px;

}

.button-burger {

  &::before {
    width: 18px;
    content: "";
    transform: translate(-3px, -5px);
  }

  &::after {
    content: "";
    width: 14px;
    transform: translate(-3px, 5px);
  }
}

.slider {
  flex-direction: column;

  &__button {
    background-color: #f8f8f8;
  }

  &__button--text {
    text-transform: none;
    padding-left: 16px;

    font-size: 1.15em;
  }


}

.slider__button--doubleArrow {
  padding-left: 5px;
  padding-top: 16px;
}

///conect-menu

.conect-menu {
  display: flex;
  width: 150px;

  justify-content: space-between;

}


/***************** headder */

.header-menu {
  display: flex;
  justify-content: space-between;
  padding: 10px 16px;
  background: #FFFFFF;
  align-items: center;

}

.header-menu__conteiner {
  display: flex;
  flex-direction: row;
  width: 160px;
  justify-content: space-between;
  align-items: center;

  &:last-child {
    width: 40%;
  }
}

.divider {
  background: #EAEAEA;
  border-radius: 1px;
  width: 2px;
  height: 32px;
  padding: 0;
}

.text-hidden {
  display: none;
}






/*********************** main */
main {
  background-color: #F8F8F8;
  padding: 0 16PX;
  border-top: 1px solid #D9FFF5;
  height: auto;

}


.title__text {

  display: flex;
  align-items: center;
  font-family: "TT LakesB";
  font-weight: bold;

}

.title__text::before {
  content: " ";
  display: inline-block;
  margin-right: 12px;

  width: 4px;
  background-color: #41F6D7;
  height: 40px;

  border-radius: 0 15px 15px 0px;
}


.main-menu {
  display: flex;
  justify-content: flex-start;


  margin: 0px;

  border: none;
  list-style: none;
  padding: 0 0 24PX 0px;
  flex-wrap: nowrap;
  // padding-left: 10px;
  overflow-y: scroll;

  .main-menu__list {
    margin-left: -10px;
  }
}


.main-menu__list {
  font-size: 1.15em;
  font-family: "TT LakesM";
}

.main-menu>li {
  padding: 8px 9px 8px 16px;
  ;
}

.main-menu__item--first {
  border: solid #B8FFEC 2px;
  border-radius: 6px;
  background-color: #FFFFFF;
}

.main-content__text {
  word-wrap: break-word;
  line-height: 20px;
  color: #1B1C21;
  letter-spacing: 0.2px;
  height: 130px;

}

.main-content__link a {
  display: flex;
  align-items: center;
  padding-left: 0;
  color: $text-color--main;
  white-space: normal;

  .link__expand {
    height: 25px;
    padding: 10px;
  }

  .link__text {
    padding: 16px;
    margin: 0;
    font-size: 1.15em;
    font-family: 'TT LakesM';
    line-height: 24px;

    img {
      transform: translate(5px, 2px);
    }
  }

  .link__text:last-child {
    padding-left: 0;
  }
}

.main-img {
  width: 100%;
  padding: 10px 0;
  margin: 0;

}

.main-img__image {

  background: url('../img/MG3223.png') no-repeat;
  margin: 0 auto;
  height: 190px;
  background-size: contain;

}


.main-content__text--bottom {
  height: 220px;

  width: 100%;

}

.footer {
  display: flex;
  flex-direction: column;

  justify-content: space-between;
  text-align: center;
  padding: 16px;
  font-family: 'TT LakesM';
  border-top: $color-blue 1px solid;
  height: 120px;
}

.footer__text {
  color: $text-color--gray;
  line-height: 16px;
  width: 100%;

}


/*отрицательные границы*/
.indent-320 {
  margin: 0 -16px;
}

.indent-ml {
  margin: 0 -16px;
}




/*скрытые элементы*/
.hidden-s {
  display: none;
}




@media(min-width:768px) {
  .container {
    min-width: 768px;
    margin: 0 auto;

  }

  .container-slider {
    width: 100%;

  }


  .hidden-s {
    display: flex;
  }


  .title__text::before {
    margin-right: 20px;

  }

  .header-menu {
    padding: 10px 24px;
  }



  .conect-menu {


    .button--circle:nth-child(2) {
      margin: 0 15px;
    }
  }

  .main {


    padding: 0 24px;
  }

  .main-menu {
    padding-bottom: 32px;
  }

  .main-content {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;

    &__text {
      width: 42%;
      line-height: 20px;

      padding-top: 0;
      height: auto;
    }

    p {
      padding-bottom: 10px;
    }
  }



  p.hidden-s {

    overflow: hidden;
    height: 35px;
    margin-bottom: 0;

  }

  .link__expand {
    padding-left: 0;
  }

  .main-img {

    width: 50%;
    margin: 0;
    padding: 0;

    padding: 0;


    &__image {
      border-radius: 2%;

      width: 100%;
      background-size: cover;
      height: 200px;
    }
  }

  .img__section {
    margin-left: 0px;
  }

  .main-menu__list {
    margin-left: 0;

  }

  .slider {
    height: auto;

    .slider__list {
      height: 100%;
      padding-bottom: 5px;
      width: 94%;
    }

    #btn {
      display: block;


    }

    &__title {
      padding-left: 24px;
    }



    .slider__list--2 {
      .swiper-container--2 {
        height: auto;
      }
    }


  }


  .swiper-container {
    margin-left: 0;
    height: auto;

    .swiper-wrapper {
      display: grid;

      grid-template-columns: 224px 224px 224px;
      column-gap: 24px;
      row-gap: 16px;

      height: auto;
      width: 100%;


      .swiper-slide {

        width: auto;


      }

      .swiper-slide:nth-child(3),
      .swiper-slide:nth-child(6),
      .swiper-slide:nth-child(9) {
        margin-right: 0;
      }


      .swiper-slide.hidden_768,
      .slider__item {
        display: none;
      }

    }


  }

  .slider--3 {
    height: 100%;

    .slider__list--3 {
      height: auto;
      padding-top: 30px;



      .swiper-container--3 {
        height: auto;

      }
    }
  }


  .swiper-container--3 .swiper-wrapper {
    display: flex;
    flex-direction: column;
    height: auto;
    background-color: $сolor-main;
    padding: 0;

    border-radius: 6px;
    row-gap: 0;

    .swiper-slide {

      width: 100%;
      height: auto;
      border: 0;
      margin: 0;
      padding: 0;


      &::after {
        content: "";
        height: 1px;
        background-color: $border-color--gray;
        width: 95%;

        margin-left: 15px;
      }
    }



  }



  .swiper-container--3 {


    .slider__text {
      padding: 23px 0 23px 16px;

      &--servis {
        width: 47%;
      }

      &--cost {
        width: 8%;
      }

      &--time {
        width: 15%;
      }

    }

    // }
  }

  .column-name {

    display: flex;
    justify-content: flex-start;
    color: $text-color--gray;

    .slider__text {
      font-size: $font-size--small;
      padding: 8px 16px;
      margin: 0;
    }
  }

  .main-content__text--bottom {
    width: 60%;
    padding-top: 24px;

    a .link__text {
      padding-bottom: 47px;
    }
  }


  .footer {
    flex-direction: row;
    height: auto;
    text-align: start;
    padding: 32px 24px;

    .footer__text:last-child {
      padding-top: 0;
      text-align: end;
    }
  }

  .footer__text {
    width: 33%;
  }





  .button {
    &--oval {
      transform: translate(-16px, 0px);
    }


  }





  ///////////////////////отступы
  .indent-ml {
    margin: 0 -24px;


    .indent-320 {
      margin: 0;
    }

    //////скрытые элементы
    .slider__list--2 .swiper-container--2 .swiper-slide.hidden_768 {
      display: none;
    }

    .swiper-slide.hidden_768,
    .slider__item {
      display: none;
    }
  }
}

@media(min-width:1366px) {
  body {
    background-color: #F8F8F8;
  }

  .container {
    margin: 0;
    max-width: 1366px;
    padding: 0px;
    display: flex;
    background-color: #F8F8F8;

  }

  #mw-1 {
    display: block;
    position: static;
  }

  header {
    align-items: flex-end;
    width: 45%;
    margin: 0;
    height: 50px;
    background-color: #F8F8F8;
    transform: translate(550px, 55px);
    height: 0;
  }

  .header-menu {
    color: #1B1C21;
    line-height: 24px;
    height: 50px;
    padding: 0%;
    width: auto;
    background-color: #F8F8F8;
    border: none;

    &__conteiner:last-child {
      width: 340px;
    }
  }

  .text-hidden,
  .menu__link.hidden-l {
    display: block;
  }

  .text-hidden {
    margin-right: -20px;
  }

  .title__text::before {
    margin-right: 30px;
  }

  .title {
    margin-left: -35px;
  }

  .main {
    padding: 40px 32px 20px 32px;
    margin: 0;
    border-top: none;
  }



  .main-menu {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-left: 0;
    overflow-y: auto;

    .main-menu__item {
      padding-right: 0;

    }
  }

  .hidden-l {
    display: block;
  }

  .main-menu__item--first-xl {
    order: -1;
    border: solid #B8FFEC 2px;
    border-radius: 6px;

  }

  .main-menu__item--first {
    border: none;
    background-color: #F8F8F8;
  }

  .main-menu__item:last-child {
    order: 3;
  }

  .main-menu__item:nth-child(4) {
    order: 2;
  }

  p.hidden-s {
    padding-top: 20px;
  }

  .hidden-xl {
    display: none;
  }

  .main-content {
    padding-left: 0;
  }

  .main-content__text .hidden-s {
    height: auto;
  }

  .main-content__text {
    width: 48%;
  }

  .main-img {
    width: 50%;
    margin: 0;
    padding: 0;
    background-size: cover;

    padding: 0;
  }

  .main-img__image {
    height: 300px;
  }

  .slider {
    &__title {
      padding-left: 32px;
    }

    .slider__list {
      width: 100%;
    }
  }

  .slider {

    .swiper-container--1,
    .swiper-container--2 {
      .swiper-wrapper {
        grid-template-columns: 240px 240px 240px 240px;

        .swiper-slide {


          &.hidden_768 {
            display: flex;

          }

          &.hidden_1366 {
            display: none;
          }
        }
      }


    }
  }
  .swiper-container--3 .slider__text--servis {
    width: 56%;
  }

  .footer__text:last-child {
    width: 32%;
  }

  //////// отступы
  .indent-ml {
    margin: 0 -32px;

  }

}
